/*Aspectos Generales*/
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Section*/
section{
    /*fondo con imagen*/
    background-image: url("../components/imagenes/fondo_interior.png");
    /*encuadra la imagen*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;    
}

/*Titulo Principal*/
.title{
    text-align: center;
    font-size: 40px bold;
    color: white;
}

/*formulario de inicio de sesion*/
.formulario{
    background-color: white;
    color: black;
    margin: 40px auto;
    padding: 30px;
    max-width: 350px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
}

.formulario:hover{
    transform: translateY(-4px);
}

.formulario input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.formulario button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #802016;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.formulario button:hover {
    background: #a6281c;
}

/*Mostrar Contraseña*/
.container{
    display: flex;
    align-items: center;
    width: 320px;
}

.bx{
    font-size: 30px;
    transform: translateX(-40px);
    cursor: pointer;
}

/*Parte de abajo del formulario*/
.texto{
    background-color: #8021168f;
    border-radius: 25px;
    text-align: center;
    font-size: bold;
    /*border de referencia*/
    border:  1px solid #802016;
    color: white;
    padding: 10px;
    max-width: 450px;
    margin-left: 50%;
    transform: translateX(-50%);
}

/*cambiar el color del link*/
.texto a{
    color: white;
}

.button{
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #802016;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}